$btn-blue: #4A90E2;
$btn-pink: #FF6678;
$dark-gray: #414141;
$light-gray: #d3d3d3;
$header-pink: #f55659;
$light-pink: #f67678;
$border-gray: #e2e2e2;
$input-color: #a6a6a6;
$error-msg: #ff5267;
$background-gray: #f2f2f2;